# Include Markdown documentation in GitHub Linguist language statistics.
*.md linguist-language=Markdown linguist-detectable=true linguist-documentation=false
*.yml linguist-language=YAML linguist-detectable=true
*.yaml linguist-language=YAML linguist-detectable=true
*.sh linguist-language=Shell linguist-detectable=true
